# vscode
.vscode/.*
.vscode
.vs
# tmp files
TestResults
__pycache__
*~
tmptest
.pytest_cache
.coverage
htmlcov
.VSCodeCounter
# data
*.RAW
data
ref
error.txt
log.txt
log.txt.*
*.wks
*.Oribit*
*.Orbit*
*.orbt-temp
*.orbt-tmp
*.pdf
*.c
*.cpp
*.pyd
code
*.sqlite3
collect.txt
/setting.json
# build files
build
/dist
/build-config.json
.VSCodeCounter
/setting.json
# other
/external-tools
# local issue tracker
.scratch/
# uv
.venv/
